<!-- <div class="container ">
  <div class="row p-1 ">

    <div *ngFor="let user of users" class="col-4 my-3">
      <div  class="card" style="width: 25rem;">

        <div class="card-body">

          <h5 class="card-title"><a href="/user/{{user.id}}"> name : {{user.name | titlecase}} </a></h5>
          <p class="card-text">email : {{user.email}}</p>
          <p class="card-text">address : {{user.address.street}}</p>
          <p class="card-text">phone : {{user.phone}}</p>


        </div>

      </div>
    </div>
  </div>
</div> -->
<app-my-first-component></app-my-first-component>




<!-- <app-users-component>


</app-users-component> -->
<!-- <router-outlet></router-outlet> -->

<!-- <h1>hello</h1> -->


<!-- <app-my-second-component [message]="message" (alert)="onAlert()">
  <h2>
    hello h2
  </h2>
  <h5>
    hello h5
  </h5>
  <p class="hello">
    hello class
  </p>
  <ng-container>
    <div class="hr2">
      hello container
    </div>
  </ng-container>
</app-my-second-component> -->

<!--  <app-my-third-component *ngIf="show" [test]="test" >

</app-my-third-component> -->

<!-- <button (click)="show = !show">toggle</button>
<button (click)="test = test+1">change</button>  -->

 <!-- <app-post-card-component>

</app-post-card-component> -->
